@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';
@import 'color-variables';

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

p {
  color: $black-600;
}
